<div class="form-group">
    <label class="control-label">专业对应可申请的大学以及衔接专业</label>
    <ul>
        <li *ngFor="let subjectName of agreementSubjects | uniqueBy: 'subjectName'" class="list">
            {{subjectName}}
            <ul>
                <li *ngFor="let item of agreementSubjects | filterBy: filterBySubject(subjectName)" class="item">
                    适用起止年级：{{item.startedGrade}} —— {{item.endedGrade}}，{{item.regionName}}； {{item.nameEn}}
                    <ul>
                        <li *ngFor="let major of item.coMajors">
                            衔接专业/学位：{{major.nameEn}} {{major.nameCn}}；{{major.bachelor}}
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
