.table {
    th {
        border-top-width: 0;
    }
}

.alert {
    margin-top: 1rem;
}

.taskTitle {
    width: 28em;
    white-space: pre-wrap;
    word-wrap: break-word;
}

@media (max-width: 1199px) {
    .taskTitle {
        max-width: 22em;
    }
}

@media (max-width: 991px) {
    .taskTitle {
        max-width: 15em;
    }
}
