.table-responsive {
    margin-bottom: 1rem;
}

.table {
    margin-bottom: 0;
    th {
        white-space: nowrap;
        border-top-width: 0;
    }
    td {
        white-space: nowrap;
        &:nth-child(1) {
            width: 3rem;
        }
        &:nth-child(2) {
            width: 8rem;
        }
        &:nth-child(4) {
            width: 6rem;
        }
        &:nth-child(5) {
            width: 9rem;
        }
        &:nth-child(6) {
            width: 4rem;
        }
    }
}

.alert {
    margin-top: 1rem;
}
