:host ::ng-deep {
    .ng-invalid:not(form) {
        border-left: 5px solid #a94442;
    }
}

textarea {
    white-space: pre-wrap;
    font-size: 100%;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New";
}
