@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

.input-group-append {
    .form-control {
        position: relative;
        z-index: 2;
    }
    .form-control+.btn,
    .form-control+.form-control {
        margin-left: -$input-border-width;
    }
}

.input-group-sm>.input-group-append>.form-control {
    height: $input-height-sm;
    padding: $input-padding-y-sm $input-padding-x-sm;
    font-size: $font-size-sm;
    line-height: $input-line-height-sm;
    @include border-radius($input-border-radius-sm);
}

.input-group>.input-group-append:not(:last-child)>.form-control,
.input-group>.input-group-append:last-child>.form-control:not(:last-child) {
    @include border-right-radius(0);
}

.input-group>.input-group-append>.form-control {
    @include border-left-radius(0);
    &:focus {
        z-index: 3;
    }
}

.option-label {
    width: 6rem;
}

.option-value {
    width: 6rem;
}
