<div class="row">
    <div class="form-group">
        <tm-nav></tm-nav>
    </div>
    <div class="form-group ml-auto">
        <div class="input-group">
            <div class="input-group-prepend">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" id="dropdownMenu2"
                    aria-haspopup="true" aria-expanded="false">
                    {{filterSelected.name}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button" *ngFor="let filterItem of listFilter" (click)="onFilterSelected(filterItem)">{{filterItem.name}}</button>
                </div>
            </div>
            <input class="form-control" name="filterValue" type="text" [(ngModel)]="filterSelected.value" />
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary" (click)="doFilter()">
                    <fa-icon icon="search"></fa-icon>
                </button>
            </div>
            <div class="input-group-append"><a class="btn btn-secondary" download href="/api/steer/reports/observe-priority">导出</a></div>
        </div>
    </div>
</div>
<div *ngIf="list && list.length>0">
    <table class="table">
        <thead>
            <tr>
                <th>教师</th>
                <th>职称</th>
                <th>所在学院</th>
                <th>首次开课</th>
                <th>开课信息</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of list | pager : pagerArgs">
                <tr>
                    <td><a [routerLink]="['../teachers',item.teacherId]">{{item.teacherName}}（{{item.teacherId}}）</a><span
                            class="badge badge-success" *ngIf="item.isExternal">外</span></td>
                    <td>{{item.academicTitle}}</td>
                    <td>{{item.departmentName}}</td>
                    <td>{{item.isnew ? '是' : '否'}}</td>
                    <td>{{item.courseName}}</td>
                </tr>
            </ng-container>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <div class="form-group row mt-1">
                        <div class="col-md-3">总共：{{count}}条记录</div>
                        <div class="col-md-2">
                            <tm-pager [total]="count" [max]="max" [length]="listLength" (prev)="loadData($event)"
                                (next)="loadData($event)"></tm-pager>
                        </div>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
