<div class="row">
    <div class="form-group">
        <tm-nav></tm-nav>
    </div>
    <div class="form-group ml-auto">
        <div class="input-group">
            <tm-department-teacher-select (selectTeacher)="onTeacherSelected($event)"></tm-department-teacher-select>
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary" (click)="query()" [disabled]="!teacher">查询</button>
            </div>
        </div>
    </div>
</div>
<ng-container *ngIf="tasks && tasks.length>0; else empty">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>课程编号</th>
                <th>课程名称</th>
                <th>上课教师</th>
                <th>课程班</th>
                <th>学分</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-task [ngForOf]="tasks">
                <tr>
                    <td>{{task.code}}</td>
                    <td>{{task.courseName}}</td>
                    <td>{{task.teacherName}}</td>
                    <td>{{task.className}} 共{{task.studentCount}}人</td>
                    <td>{{task.credit}}</td>
                    <td><button class="btn btn-outline-dark btn-sm" [routerLink]="['../teacher',teacher.id,'task', task.id]">
                            听课</button>
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </table>
</ng-container>
<ng-template #empty>
    <div class="alert alert-info">暂无数据</div>
</ng-template>
