<ng-container *ngIf="form">
    <div class="btn-toolbar">
        <div class="btn-group ml-auto">
            <button class='btn btn-primary' (click)="save()">保存</button>
        </div>
    </div>
    <tm-form-title>通知{{form.id}}</tm-form-title>
    <form role="form">
        <div class="row">
            <div class="form-group col-md-12">
                <label class="control-label">标题</label>
                <input class="form-control" name="title" type="text" [(ngModel)]="form.title" placeholder="本批次通知标题" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label class="control-label">开始日期</label>
                <input class="form-control" name="startDate" type="text" [(ngModel)]="form.startDate"
                    placeholder="YYYY-MM-DD" />
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">截止日期</label>
                <input class="form-control" name="endDate" type="text" [(ngModel)]="form.endDate"
                    placeholder="YYYY-MM-DD" />
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">审核类型</label>
                <select name="type" class="form-control" [(ngModel)]="form.type">
                    <option *ngFor="let item of types" [ngValue]="item.value">
                        {{ item.label }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">限制条件</label>
                <select name="ban" class="form-control" [(ngModel)]="form.ban">
                    <option value="">不限制</option>
                    <option *ngFor="let item of bans" [ngValue]="item.value">
                        {{ item.label }}在研
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="control-label">通知内容</label>
                <textarea class="form-control" name="content" rows="4" [(ngModel)]="form.content"
                    placeholder="通知详细内容"></textarea>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">专家注意事项</label>
                <textarea class="form-control" name="remind" rows="4" [(ngModel)]="form.remind"
                    placeholder="专家注意事项"></textarea>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5>文件上传</h5>
            </div>
            <div class="card-body">
                <div class="d-flex mb-2" *ngIf="ploaded; else emptyTpl;">
                    <span class="file-type">{{taskAttach.label}}</span>
                    <span class="ml-3 mr-3">{{form.attach}}</span>
                    <button class="btn btn-danger btn-sm ml-auto" (click)="remove()">删除</button>
                </div>
                <ng-template #emptyTpl>
                    <tm-uploader-panel [uploadUrl]="uploadUrl" [fileType]="taskAttach" (uploaded)="onUploaded($event)">
                    </tm-uploader-panel>
                </ng-template>
            </div>
        </div>
    </form>
</ng-container>