<div class="btn-toolbar">
    <div class="btn-group ml-auto">
        <button class="btn btn-primary" routerLink="editor">新建</button>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>序号</th>
            <th>老师</th>
            <th>可管场地</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-item [ngForOf]="list" let-i="index">
            <tr>
                <td><tm-remove-item (click)="remove(item)"></tm-remove-item>{{i + 1}}.</td>
                <td>{{item.name}}</td>
                <td>
                    <span *ngFor="let areas of item.areas.list">
                        <strong>{{areas.building}}：</strong>{{areas.names}}<br>
                    </span>
                </td>
            </tr>
        </ng-template>
    </tbody>
</table>
