<ng-container *ngIf="vm">
    <tm-form-title>{{vm.type}}单#{{vm.id}}</tm-form-title>
    <div class="row">
        <div class="form-group col-3">
            <label class="control-label">经办人</label>
            <div>{{vm.operator}} {{vm.dateCheckIn}}</div>
        </div>
        <div class="form-group col-3">
            <label class="control-label">核验人</label>
            <div>{{vm.approver}} {{vm.dateApproved}}</div>
        </div>
        <div class="form-group col-3">
            <label class="control-label">源地址</label>
            <div>{{vm.source}}</div>
        </div>
        <div class="form-group col-3">
            <label class="control-label">目标地址</label>
            <div>{{vm.target}}</div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <label class="control-label">{{vm.type}}说明</label>
            <div>{{vm.note}}</div>
        </div>
        <div class="form-group col-12" *ngIf="vm.fileName">
            <label class="control-label">核销单</label>
            <div><a download href="/api/asset/attachments/?fileName={{vm.fileName}}">{{vm.fileName}}</a></div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <label class="control-label">{{vm.type}}单明细</label>
            <tm-asset-device-table [data]="vm.items" [size]="'sm'"></tm-asset-device-table>
        </div>
    </div>
</ng-container>
