<div #dropdown class="dropdown input-group">
    <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" (click)="clear()" readonly [value]="result"
        placeholder="点击选择">
    <div class="dropdown-menu" style="width: 100%; padding: 5px;">
        <div style="margin-bottom: 5px;">
            <input type="text" #search class="form-control w-100">
        </div>
        <div class="table-wrapper" *ngIf="filterUniversities?.length > 0; else prompt">
            <table class="table table-hover">
                <tbody>
                    <tr *ngFor="let university of filterUniversities" (click)="selected(university)" tabindex="1" style="background-color: #FFF">
                        <td>{{university.nameEn}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-template #prompt>
            <div class="help-block">可输入关键字或缩写筛选</div>
        </ng-template>
    </div>
</div>