<tm-workflow-list>
    <ng-template #theadTpl>
        <th>提交日期</th>
        <th>经办人</th>
        <th>审核人</th>
        <th>审核时间</th>
        <th>状态</th>
        <th>备注</th>
    </ng-template>
    <ng-template #tbodyTpl let-form="form">
        <td>{{form.dateCheckIn}}</td>
        <td>{{form.operator}}</td>
        <td>{{form.approver}}</td>
        <td>{{form.dateApproved}}</td>
        <td><audit-status [status]="form.status"></audit-status></td>
        <td class="expand">{{form.note}}</td>
    </ng-template>
</tm-workflow-list>
