<div class="form-group">
    <label class="control-label">专业对应可申请的大学以及衔接专业</label>
    <ul>
        <li *ngFor="let subjectName of agreementSubjects | uniqueBy: 'subjectName'" class="list">
            <span class='text-info'>{{subjectName}}</span>
            <ul>
                <li *ngFor="let item of agreementSubjects | filterBy: filterBySubject(subjectName)" class="item">
                    <span class="text-success">适用起止年级：{{item.startedGrade}} - {{item.endedGrade}} {{item.regionName}}； {{item.nameEn}}</span>
                    <table  style="width: 100%">
                        <thead>
                            <th rowspan="3">衔接专业/学位</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let major of item.coMajors">
                                <td style="width: 40%">{{major.nameEn}}</td>
                                <td style="width: 40%">{{major.nameCn}}</td>
                                <td style="width: 20%">{{major.bachelor}}</td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </li>
    </ul>
</div>
