<ng-container [ngSwitch]="question.type">
    <p *ngSwitchCase="1" class="prompt">
        本次投票为单选，每次只能选择<b>1</b>项。
    </p>
    <p *ngSwitchCase="2" class="prompt">
        本次投票为多选，最少选择<b>{{question.minValue}}</b>项，最多选择<b>{{question.maxValue}}</b>项。
    </p>
</ng-container>
<div class="form-row">
    <div class="col-md-{{12 / question.stepValue}}" *ngFor="let option of question.options" style="padding-bottom: 1rem;">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{option.label}}</h5>
                <tm-multiple-line class="card-text" [text]="option.content"></tm-multiple-line>
                <div class="btn-toolbar">
                    <span [class]="option.selected ? 'text-success' : 'text-muted'"
                          [style.font-size]="option.selected ? '1.25rem' : '1rem'">
                        <fa-icon [icon]="['far', 'thumbs-up']"></fa-icon>
                    </span>
                    <button class="btn btn-sm ml-auto" (click)="toggleOption(option)">
                        <fa-icon icon="plus" fixedWidth="true"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
