.card {
    margin-bottom: 1rem;
    .card-header {
        .btn-group {
            margin-top: -0.25rem;
            margin-bottom: -0.25rem;
        }
    }
}

h5 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
    align-self: center;
}

