h5 {
    font-weight: bold;
}

.prompt {
    text-indent: 2rem;
}

.card-wrapper {
    padding-bottom: 1rem;
}

.card-footer {
    display: flex;
    border-top: none;
    background-color: transparent;
    padding-top: 0;
}
