.title {
    margin-bottom: 1rem;
    text-align: center;
}

pre {
    white-space: pre-wrap;
    font-size: 100%;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New";
}
