<ul class="nav nav-tabs mb-p10">
    <li *ngFor="let item of options" class="nav-item mr-1">
        <a class="nav-link" [routerLink]="['../../list', item.type]" routerLinkActive="active">{{item.label}}
            <span class="badge badge-pill badge-secondary">{{item.count}}</span>
        </a>
    </li>
    <li class="nav-item ml-auto">
        <select name="term" class="form-control-sm" [(ngModel)]="termId">
            <option *ngFor="let item of terms" [ngValue]="item.id">
                {{ item.id | termLabel}}
            </option>
        </select>
    </li>
    <li class="nav-item ml-2">
        <div class="input-group">
            <input class="form-control form-control-sm" name="filterValue" type="text" [(ngModel)]="filterSelected.value"
                placeholder="任意字段模糊查询" />
            <div class="input-group-append">
                <button class="btn btn-secondary py-0 h-100" (click)="doFilter()"><span search-icon></span></button>
            </div>
        </div>
    </li>
</ul>
<ng-container *ngIf="list && list.length>0">
    <table class="table table-expand">
        <thead>
            <tr>
                <th><input type="checkbox" (change)="checkAll($event.target.checked)"></th>
                <th>教师</th>
                <th>课程信息</th>
                <th>开课单位</th>
                <th>学年学期</th>
                <th>听课时间</th>
                <th>评价等级</th>
                <th>督导老师</th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-item [ngForOf]="list" let-i="index">
                <tr>
                    <td>
                        <checkbox-selector [data]="item"></checkbox-selector>
                    </td>
                    <td class="expand"><a [routerLink]="['../../',item.id]">{{item.teacherId}} <br>{{item.teacherName}}</a>
                    </td>
                    <td>{{item.course}} <br>{{item.dayOfWeek | dayOfWeek}}
                        {{item.startSection}}-{{item.startSection+item.totalSection-1}}节
                        {{item.place}}
                    </td>
                    <td>{{item.departmentName}} </td>
                    <td>{{item.termId | termLabel}}</td>
                    <td>{{item.supervisorDate}}</td>
                    <td>{{item.evaluateLevel}}</td>
                    <td>{{item.supervisorId}} {{item.supervisorName}}</td>
                </tr>
            </ng-template>
        </tbody>
    </table>
    <div>
        <button type="button" class="btn btn-primary" *ngIf="canFeed" (click)="feedAll()">发布</button>
    </div>
</ng-container>
