<form *ngIf="form" #ngForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="btn-toolbar">
        <div class="btn-group ml-auto">
            <button class='btn btn-secondary' type="button" (click)="findRoom()">选择结算项目</button>
        </div>
        <div class="btn-group ml-2">
            <button class='btn btn-secondary' type="button" routerLink="../">取消</button>
            <button class='btn btn-primary' type="submit"
                [disabled]="saving || !ngForm.form.valid || !form.valid">保存</button>
        </div>
    </div>
    <tm-form-title>{{form.title}}</tm-form-title>
    <div class="row">
        <div class="col-lg-8">
            <div class="form-row">
                <div class="form-group col-lg-4">
                    <label for="department">结算单位</label>
                    <select class="form-control" id="department" name="department" [(ngModel)]="form.department"
                        *ngIf="!form.id && departments.length > 1; else departmentTpl">
                        <option *ngFor="let department of departments" [ngValue]="department">{{department.name}}
                        </option>
                    </select>
                    <ng-template #departmentTpl>
                        <p class="form-control-plaintext">{{form.department.name}}</p>
                    </ng-template>
                </div>
            </div>
            <div class="form-group">
                <label for="description">结算说明</label>
                <textarea class="form-control" id="description" name="description" rows="2" [(ngModel)]="form.description" required></textarea>
            </div>
            <div class="form-group">
                <label>结算明细</label>
                <table class="statement-items table table-sm" *ngIf="form.items.length > 0; else prompt">
                    <thead>
                        <th>编号</th>
                        <th>会议室</th>
                        <th>设施</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>费用</th>
                        <th>操作</th>
                    </thead>
                    <thead>
                        <ng-container *ngFor="let item of form.items" [class.deleted]="item.deleted">
                            <tr [class.deleted]="item.deleted">
                                <td>#{{item.bookingItem.bookingForm.id}}-{{item.bookingItem.id}}-{{item.id}}</td>
                                <td>{{item.bookingItem.room.name}}</td>
                                <td>{{item.facility.name}}</td>
                                <td>{{item | facilityPrice}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item | facilitySubtotal}}</td>
                                <td><button [delete-item]="item.deleted" (click)="form.removeItem(item)"></button>
                            </tr>
                            <tr [class.deleted]="item.deleted">
                                <td></td>
                                <td colspan="5">
                                    {{item.bookingItem.bookingForm.subject}}<br>
                                    {{item.bookingItem.bookingLowerTime | date: 'y-MM-dd
                                    MM:hh'}}-{{item.bookingItem.bookingUpperTime | date: 'MM:hh'}}
                                    借用{{item.bookingItem.timeUnitQuantity}}{{item.bookingItem.timeUnit |
                                    timeUnit}}<ng-container *ngIf="item.bookingItem.overTimeQuantity">，超时<span
                                            class=" operator-data">{{item.bookingItem.overTimeQuantity}}</span>小时
                                    </ng-container>
                                </td>
                                <td></td>
                            </tr>
                        </ng-container>
                    </thead>
                    <tfoot>
                        <tr>
                            <td>合计</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>¥{{form.getTotal() | number: '.2-2'}}</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                <ng-template #prompt>
                    <small class="form-text text-muted">请点击“选择结算项目”按钮添加结算项目。</small>
                </ng-template>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-info card bg-light mb-3">
                <div class="card-header">表单状态</div>
                <div class="card-body">
                    <div class="card-text">经办人 {{form.user.name}} {{form.user.phoneNumber}}</div>
                    <ng-container *ngIf="form.workflowState">
                    <div class="card-text">结算单 {{form.workflowState | statusText}}</div>
                    </ng-container>
                </div>
            </div>
            <tm-workflow-task-list [list]="form.workflowTasks"></tm-workflow-task-list>
        </div>
    </div>
</form>