<modal-dialog modalTitle="专家意见">
    <modal-body>
        <h4>{{vm.name}}</h4>
        <div class="form-group" style="border: solid firebrick; padding: 0.5rem;">
            <label class="control-label">注意事项</label>
            <div>{{vm.remind}}</div>
        </div>
        <div class="form-group">
            <label class="control-label">学院意见 {{vm.departmentConclusion}}</label>
            <div>{{vm.departmentOpinion}}</div>
        </div>
        <div class="form-group">
            <label class="control-label">专家意见</label>
            <div><span *ngFor="let item of conclusions; let i = index" class="mr-3"><input type="radio"
                        name="conclusions{{i}}" [value]="item" [(ngModel)]="conclusion">{{item}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">评分</label>
            <input class="form-control" type="number" name="score" [(ngModel)]="score" max="100" min="0"
                placeholder="不同意请填60分以下。" required>
            <p class="text-danger" *ngIf="errors && conclusion==='不同意'">不同意，评分请填60分以下</p>
            <p class="text-danger" *ngIf="errors && conclusion==='同意'">同意，评分请填60分（含）以上</p>
        </div>
        <div class="form-group">
            <label class="control-label">具体意见</label>
            <textarea class="form-control" name="opinion" rows="3" [(ngModel)]="opinion"
                placeholder="请输入意见！不少于6个字。"></textarea>
        </div>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-secondary" (click)="ok()" *ngIf="vm.editAble"
            [disabled]="errors">保存</button>
        <button type="button" class="btn btn-secondary" (click)="commit()" *ngIf="vm.editAble"
            [disabled]="errors">提交</button>
    </modal-footer>
</modal-dialog>