<div class="row">
    <div class="form-group">
        <tm-nav></tm-nav>
    </div>
    <div class="form-group ml-auto">
        <div class="input-group">
            <ng-container *ngIf="isTeacherMode">
                <tm-teacher-select (selectTeacher)="onTeacherSelected($event)"></tm-teacher-select>
            </ng-container>
            <ng-container *ngIf="!isTeacherMode">
                <tm-place-select (selectPlace)="onPlaceSelected($event)"></tm-place-select>
            </ng-container>
            <div class="input-group-append">
                <button type="button" class="btn btn-outline-secondary" (click)="query()" [disabled]="(isTeacherMode && !teacher) ||(!isTeacherMode && !place)">查询</button>
            </div>
        </div>
    </div>
</div>
<ng-container *ngIf="timetable">
    <schedule-weektab [term]="term" #weektab></schedule-weektab>
    <schedule-timetable [timetable]="timetable" [week]="weektab.selectedWeek">
        <ng-template #timeslotTpl let-timeslot="timeslot" let-week="week">
            <div class="timeslot">
                <button class="btn btn-secondary slotitem" *ngFor="let item of timeslot.items" [ngClass]="timeslot.getObservationClass()"
                    [disabled]="item.getPermission()" [routerLink]="[root, 'teacher',timeslot.getTeacherId(),'week', week, 'timeslot',  timeslot.id]">
                    <div>
                        <span class="course-name">{{item.course}}</span>
                        <span class="course-item" *ngIf="item.courseItem">{{item.courseItem}}</span>
                    </div>
                    <div>{{item.weeksText}}{{item.sectionsText}}</div>
                    <div>{{item.place}}</div>
                    <div>{{item.getProperty()}}</div>
                    <div class="teachers">{{item.teachers}} {{item.getAcademicTitle()}}</div>
                    <div class="department">{{item.getDepartment()}}</div>
                </button>
            </div>
        </ng-template>
    </schedule-timetable>
    <div class="d-flex">
        图例：
        <div class="slotitem-sample slotitem-other">老师被听课达2次</div>
        <div class="slotitem-sample slotitem-current">老师被听课2次以上</div>
    </div>
</ng-container>
