.options {
    background-color: #FFF;
    padding-top: .2rem;
    padding-bottom: .2rem;
    line-height: 1;
}

.newOne {
    background-color:#17a2b8;
    text-align: center;
    cursor: pointer;
}
