<div class="filter-box" style="width: 100%;" *ngIf="size === undefined">
    <div class="box-header btn-toolbar mb-0">
        <div class="div-inline">筛选条件：</div>
        <div class="btn-group ml-auto">
            <ng-container *ngFor="let col of filterColumns">
                <div class="mr-3">
                    <div data-toggle="dropdown">
                        {{col.label}} <span chevron-down-icon></span>
                    </div>
                    <div class="dropdown-menu" style="overflow-y: scroll; max-height: 250px;">
                        <a class="dropdown-item" (click)="clearFilter(col.name)">全选</a>
                        <a *ngFor="let item of baseList | uniqueBy: col.name | filterBy: filterBySelected(col.name, true)"
                            class="dropdown-item d-flex" (click)="select(col.name, item)">{{item}}<span
                                *ngIf="isSelected(col.name, item)" class="ml-auto">√</span></a>
                        <a *ngFor="let item of baseList | uniqueBy: col.name | filterBy: filterBySelected(col.name, false)"
                            class="dropdown-item" (click)="select(col.name, item)">{{item}}</a>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<div>
    <ngx-datatable class="material" [ngStyle]="{'height': size === 'sm' ? '250px' : '650px'}" [rows]="rows"
        columnMode="force" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"
        [scrollbarH]="true" [columns]="columns" [selected]="selected" [selectionType]="SelectionType.checkbox"
        (select)="onSelect($event)" [selectAllRowsOnPage]="false">
        <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template let-rowCount="rowCount">
                <div style="padding: 5px 10px">
                    <div>共 {{rowCount}} 个</div>
                </div>
            </ng-template>
        </ngx-datatable-footer>
    </ngx-datatable>
</div>

<ng-template #idTmpl let-rowIndex="rowIndex" let-value="value">
    <a href="{{link(value)}}">{{rowIndex + 1}} #{{value}}</a>
</ng-template>
<ng-template #stateTmpl let-value="value">
    {{stateGetter(value)}}
</ng-template>
