@import './label/label.component.scss';
.filter-box {
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid #e1e4e8;
    background-color: #f6f8fa;
}

.box-header {
    color: #586069;
    padding: 16px;
    font-size: 14px;
}

.div-inline {
    display: inline!important;
}

.hinder {
    padding: 2px;
    color: #fff;
    background-color: #1d2124;
    border-color: #171a1d;
}

.hinder-save {
    text-align: center;
    border-radius: 0.5em;
    padding: 2px;
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}
