.dropdown-menu {
    border-color: #ddd;
    background-color: #fff;
}

.dropdown-input {
    border-width: 1px;
    border-style: solid;
    border-color: #ced4da;
}

.table-wrapper {
    overflow-y: auto;
    border: solid 1px #ddd;
    max-height: 320px;
}
