// https://github.com/twbs/bootstrap/issues/24726
:host-context(.navbar-expand-md) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

button.nav-link {
    border: none;
    outline: none;
}
