<div class="container">
    <tm-logo href="/"></tm-logo>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bd-main-nav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="bd-main-nav" *ngIf="menus">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item" [menu]="menu" *ngFor="let menu of menus.main"></li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="nav-item" [menu]="menu" *ngFor="let menu of menus.user"></li>
            <li class="nav-item">
                <a class="nav-link btn btn-link" href="/" (click)="logout()">退出</a>
            </li>
        </ul>
    </div>
</div>
