<modal-dialog modalTitle="信息更正">
    <modal-body>
        <form class="form-horizontal">
            <form-field label="规格型号">
                <select name="assetModel" class="form-control" [(ngModel)]="item.assetModelId">
                    <option *ngFor="let model of assetModels " [ngValue]="model.id">
                        {{ modelLabel(model) }}
                    </option>
                </select>
            </form-field>
            <form-field label="单价">
                <input class="form-control" name="price" type="number" [(ngModel)]="item.price" placeholder="price" />
            </form-field>
            <form-field label="购买时间">
                <input class="form-control" name="dateBought" type="text" [(ngModel)]="item.dateBought" placeholder="yyyy-MM-dd" />
            </form-field>
            <form-field label="供应商">
                <select name="supplier" class="form-control" [(ngModel)]="item.supplierId">
                    <option *ngFor="let supplier of suppliers " [ngValue]="supplier.id">
                        {{ supplier.name }}
                    </option>
                </select>
            </form-field>
            <form-field label="备注">
                <input class="form-control" name="note" type="text" [(ngModel)]="item.note" placeholder="备注" />
            </form-field>
        </form>
    </modal-body>
    <modal-footer>
        <button modalCancel>取消</button>
        <button type="button" class="btn btn-secondary" (click)="save()">确定</button>
    </modal-footer>
</modal-dialog>
