<tm-workflow-form-item reviewType="check" [convert]="convert">
    <ng-template #toolbarTpl let-form="form">
        <div class="btn-group ml-2">
            <button class="btn btn-secondary" (click)="preview = !preview">{{preview ? '取消' : '显示'}}预览</button>
            <button class="btn btn-secondary" *ngIf="form.status=='APPROVED'" routerLink="responses">查看统计</button>
            <button class="btn btn-secondary" *ngIf="form.published" (click)="copyUrl(form)">复制链接</button>
            <button class="btn btn-{{form.published ? 'warning' : 'primary'}}" *ngIf="form.status == 'APPROVED'"
                (click)="togglePublished(form)">{{form.published ? '取消' : '开始'}}发布</button>
        </div>
    </ng-template>
    <ng-template #viewerTpl let-form="form">
        <tm-questionnaire-form-viewer [form]="form" *ngIf="!preview; else previewTpl"></tm-questionnaire-form-viewer>
        <ng-template #previewTpl>
            <tm-questionnaire-preview [form]="form"></tm-questionnaire-preview>
        </ng-template>
    </ng-template>
</tm-workflow-form-item>
