<ul class="nav nav-tabs mb-p10">
    <li *ngFor="let item of options" class="nav-item mr-1">
        <a class="nav-link" [routerLink]="['../', item.type]" routerLinkActive="active">{{item.label}}
            <span class="badge badge-pill badge-secondary">{{item.count}}</span>
        </a>
    </li>
</ul>
<tm-grid [theads]="ths" [form]="list">
    <ng-template #bodyTpl let-list="list">
        <ng-container *ngFor="let item of list; let i = index">
            <tr>
                <td>
                    <div class="btn btn-outline-ligth btn-sm" (click)="remove(item)" *ngIf="removable(item)">
                        <fa-icon icon="times"></fa-icon>
                    </div>{{i + 1}}
                </td>
                <td class="expand"><a [routerLink]="['../applications/',item.id]">{{item.name}}</a></td>
                <td>{{item.code}}</td>
                <td>{{item.principalName}}</td>
                <td>{{item.level | level : 'text'}}</td>
                <td>{{item.subtype}}</td>
                <td>{{item.departmentName}}</td>
                <td>{{item.dateStart | date: 'yyyy-MM'}}</td>
                <td>{{item.middleYear}}</td>
                <td>{{item.knotYear}}</td>
                <td>
                    <audit-status [status]="item.status"></audit-status>
                </td>
            </tr>
        </ng-container>
    </ng-template>
</tm-grid>
