<div class="btn-toolbar mt-3" *ngIf="reviewAble">
    <div class="btn-group ml-auto">
        <button class="btn btn-secondary" (click)="lockAll(true)">锁定</button>
        <button class="btn btn-secondary" (click)="lockAll(false)">解锁</button>
    </div>
    <div class="btn-group ml-2">
        <button class="btn btn-secondary" (click)="setExpert()">设置专家</button>
    </div>
</div>

<hunt-grid
    [data]="list"
    [checkboxSelection]="true"
    [flush]="flush"
    (rowSelected)="onRowSelected($event)">
</hunt-grid>
<ng-template #empty>
    <div class="alert alert-info">暂无数据</div>
</ng-template>
