<ng-container *ngIf="form">
    <div class="btn-toolbar mt-3">
        <div class="btn-group">
            <tm-workflow-item-pager [prevId]="prevId" [nextId]="nextId"></tm-workflow-item-pager>
        </div>
        <div class="btn-group ml-auto">
            <button class="btn btn-secondary" (click)="conclusionSetting()" *ngIf="form.locked && form.status === 'CHECKED'">结论</button>
            <button class="btn btn-secondary" (click)="removeExpert(form.id)" *ngIf="form.expertReview && reviewable">清除专家</button>
        </div>
        <div class="btn-group ml-2">
            <button [workflow-workitems]="form.workflowInstanceId">流程</button>
        </div>
        <div class="btn-group ml-2" *ngIf="reviewable">
            <button [workflow-reject]="reviewOptions" (rejected)="onItemLoaded($event)">退回</button>
            <button class="btn btn-primary" (click)="finish()">提交</button>
        </div>
    </div>
    <!-- <ng-container *ngIf="!reviewable">
        <div class="form-group">
            <label class="control-label">学校意见
                <span class="badge {{conclusionForm.conclusionOfUniversity | conclusion: 'class'}}">
                    {{conclusionForm.conclusionOfUniversity | conclusion: 'text'}}</span></label>
            <p>{{conclusionForm.opinionOfUniversity}}</p>
        </div>
        <div class="form-group" *ngIf="form.level === 'PROVINCE'">
            <label class="control-label">省厅意见 {{conclusionForm.conclusionOfProvince}}</label>
            <p>{{conclusionForm.opinionOfProvince}}</p>
        </div>
    </ng-container> -->
    <tm-project-form-viewer [vm]="form" [downloadUrl]="downloadUrl"></tm-project-form-viewer>
</ng-container>
