<ng-container *ngIf="form">
    <div class="btn-toolbar mt-3">
        <div class="btn-group">
            <tm-workflow-item-pager [prevId]="prevId" [nextId]="nextId"></tm-workflow-item-pager>
        </div>
        <div class="btn-group ml-auto">
            <button class="btn btn-secondary" (click)="removeExpert(form.id)" *ngIf="form.expertReview && reviewable">清除专家</button>
        </div>
        <div class="btn-group ml-2">
            <button [workflow-workitems]="form.workflowInstanceId">流程</button>
        </div>
        <div class="btn-group ml-2" *ngIf="reviewable">
            <button [workflow-reject]="reviewOptions" (rejected)="onItemLoaded($event)">退回</button>
            <button class="btn btn-primary" (click)="finish()">提交</button>
        </div>
    </div>
    <ng-container *ngIf="reviewable">
        <div class="form-group">
            <label class="control-label">学校意见</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <select name="conclusion" class="form-control" [(ngModel)]="conclusionForm.conclusionOfUniversity"
                        (ngModelChange)="onConclusionChanged()" [disabled]="">
                        <option *ngFor="let item of conclusions" [ngValue]="item.value">
                            {{ item.label }}
                        </option>
                    </select>
                </div>
                <input class="form-control" name="opinionOfUniversity" [(ngModel)]="conclusionForm.opinionOfUniversity"
                    placeholder="最少5个字" (ngModelChange)="onConclusionChanged()">
            </div>
        </div>
        <div class="form-group" *ngIf="form.level === 'PROVINCE'">
            <label class="control-label">省厅意见</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <select name="conclusionOfProvince" class="form-control" [(ngModel)]="conclusionForm.conclusionOfProvince">
                        <option *ngFor="let item of conclusions" [ngValue]="item.value">
                            {{ item.label }}
                        </option>
                    </select>
                </div>
                <input class="form-control" name="opinionOfProvince" [(ngModel)]="conclusionForm.opinionOfProvince"
                    placeholder="最少5个字" (ngModelChange)="onConclusionChanged()">
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!reviewable">
        <div class="form-group">
            <label class="control-label">学校意见
                <span class="badge {{conclusionForm.conclusionOfUniversity | conclusion: 'class'}}">
                    {{conclusionForm.conclusionOfUniversity | conclusion: 'text'}}</span></label>
            <p>{{conclusionForm.opinionOfUniversity}}</p>
        </div>
        <div class="form-group" *ngIf="form.level === 'PROVINCE'">
            <label class="control-label">省厅意见 {{conclusionForm.conclusionOfProvince}}</label>
            <p>{{conclusionForm.opinionOfProvince}}</p>
        </div>
    </ng-container>
    <tm-project-form-viewer [vm]="form"></tm-project-form-viewer>
</ng-container>
