<div class="btn-toolbar">
    <div class="input-group" style="width: 40%;">
        <input type="text" name="query" class="form-control" [(ngModel)]="q" placeholder="资产编号、设备编号、设备名称" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="find()">搜索</button>
        </div>
    </div>
    <div class="btn-group ml-auto">
        <button class="btn btn-secondary" (click)="query()">查询</button>
        <button class="btn btn-secondary ml-2" (click)="checkout()">领用出库</button>
        <button class="btn btn-secondary" (click)="stop()">停用入库</button>
        <button class="btn btn-secondary" (click)="transfer()">区内流转</button>
        <button class="btn btn-secondary ml-2" routerLink="../forms">流转单</button>
        <a class="btn btn-primary ml-2" download href="{{href}}">导出所选设备</a>
    </div>
</div>

<tm-asset-device-table [data]="assets" [detailShow]="true" [checkAble]="true" (checkedList)="onRowSelected($event)"
    [hindFields]="fields" (fieldsForSave)="saveFields($event)"></tm-asset-device-table>
