<div class="btn-toolbar">
    <div class="ml-auto">
        <button class="btn btn-secondary" (click)="query()">查询</button>
        <button class="btn btn-secondary ml-2" routerLink="replace-principal">负责人变更列表</button>
        <a class="btn btn-outline-secondary ml-2" download href="/api/hunt/reports?type=projects-department">导出</a>
    </div>
</div>

<tm-grid [theads]="ths" [form]="list">
    <ng-template #bodyTpl let-list="list">
        <ng-container *ngFor="let item of list; let i = index">
            <tr>
                <td><a [routerLink]="[item.id]">{{i + 1}}#{{item.id}}</a></td>
                <td class="expand">{{item.name}}</td>
                <td>{{item.code}}</td>
                <td>{{item.level | level : 'text'}}</td>
                <td class="expand">{{item.subtype}}</td>
                <td>{{item.principalName}}</td>
                <td>{{item.dateStart | date: 'yyyy-MM'}}</td>
                <td>{{item.middleYear}}</td>
                <td>{{item.knotYear}}</td>
                <td>{{item.hasMid > 0 ? '是' : '否'}}</td>
                <td><span *ngIf="item.delayTimes">{{item.delayTimes}}次</span></td>
                <td><span
                        class="badge badge-pill {{item.status | projectStatus: 'class'}}">{{item.status | projectStatus: 'text'}}</span>
                </td>
            </tr>
        </ng-container>
    </ng-template>
</tm-grid>
