<div class="btn-toolbar">
    <div class="btn-group ml-auto">
        <button class='btn btn-secondary' routerLink="../">取消</button>
    </div>
</div>
<ng-container *ngIf="questionnaire">
    <h3 class="title">{{questionnaire.title}}</h3>
    <tm-questionnaire-respondents [questionnaire]="questionnaire"></tm-questionnaire-respondents>
    <tm-multiple-line [text]="questionnaire.prologue"></tm-multiple-line>
    <p class="summary">共<b>{{questionnaire.responseCount}}</b>人填写此{{questionnaire.surveyType | surveyTypeText}}。</p>
    <ol class="questions">
        <li class="question" *ngFor="let question of questionnaire.questions">
            <tm-question-response
                [question]="question"
                (viewOpenResponses)="onViewOpenResponses($event, questionResponse)"
                #questionResponse>
            </tm-question-response>
        </li>
    </ol>
    <tm-multiple-line [text]="questionnaire.epilogue"></tm-multiple-line>
    <small class="d-block text-mute">注：本问卷为{{questionnaire.anonymous ? '匿' : '实'}}名调查。</small>
</ng-container>
