<ng-container *ngIf="task">
    <tm-form-title>通知{{task.id}}</tm-form-title>
    <div class="row">
        <div class="form-group col-12">
            <label class="control-label">标题</label>
            <div>{{task.title}}</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">专家注意事项</label>
        <div [markdown]="task.remind"></div>
    </div>
    <div class="card mb-3" *ngIf="task.attach">
        <div class="card-header d-flex">
            <label class="control-label">通知附件</label>
            <a class="btn btn-secondary btn-sm ml-auto" download href="/api/hunt/attachments/{{task.id}}?type=TASK">下载</a>
        </div>
        <div class="card-body">
            <ul>
                <li *ngFor="let item of task.attach">{{item}}</li>
            </ul>
        </div>
    </div>
    <div class="row" *ngIf="isCheckTime; else none">
        <div class="form-group col-md-2">
            <div class="list-group">
                <a [routerLink]="[0]" class="list-group-item list-group-item-action d-flex justify-content-between"
                    routerLinkActive="active">
                    检查
                    <span class="badge badge-secondary">{{counts.countForCheck}}</span>
                </a>
                <a [routerLink]="[1]" class="list-group-item list-group-item-action d-flex justify-content-between"
                    routerLinkActive="active">
                    结项<span class="badge badge-secondary">{{counts.countForKnot | json}}</span>
                </a>
            </div>
        </div>
        <div class="form-group col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
    <ng-template #none>
        <router-outlet></router-outlet>
    </ng-template>
</ng-container>
