.table {
    td {
        &:nth-child(1) {
            width: 5rem;
        }
        &:nth-child(2) {
            width: 4rem;
        }
        &:nth-child(3) {
            width: 10rem;
        }
        &:nth-child(4) {
            width: 4rem;
        }
    }
}
