<div class="btn-toolbar">
    <div class="btn-group ml-auto">
        <button class="btn btn-primary" routerLink="create">新建</button>
    </div>
</div>
<ng-container *ngIf="items">
    <div class="table-responsive" *ngIf="items.length > 0">
        <table class="table">
            <thead>
                <tr>
                    <th>订单编号</th>
                    <th class="number">申请数量</th>
                    <th class="number">完成数量</th>
                    <th>创建人</th>
                    <th>创建时间</th>
                    <th>修改人</th>
                    <th>修改时间</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of items">
                    <td><a [routerLink]="[order.id]">#{{order.id}}</a></td>
                    <td class="number">{{order.totalCount}}</td>
                    <td class="number">{{order.finishedCount}}</td>
                    <td>{{order.creatorName}}</td>
                    <td>{{order.dateCreated | date: 'y-MM-dd HH:mm'}}</td>
                    <td>{{order.modifierName}}</td>
                    <td>{{order.dateModified | date: 'y-MM-dd HH:mm'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <tm-pager [total]="totalCount" [max]="max" [length]="items.length" (prev)="loadList($event)" (next)="loadList($event)"></tm-pager>
</ng-container>
