<ul class="nav nav-tabs mb-3">
    <li *ngFor="let item of categories" class="nav-item mr-1">
        <a class="nav-link" [routerLink]="['../', item.category]" routerLinkActive="active">{{item.label}}</a>
    </li>
</ul>
<div class="row" *ngIf="questionnaires && questionnaires.length; else emptyTpl">
    <div class="col-md-6" *ngFor="let q of questionnaires">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">
                    <a class="mr-1" [routerLink]="['/form/q', q.hashId]">{{q.title}}</a>
                    <span class="badge badge-warning" *ngIf="q.formId && !q.dateSubmitted">未提交</span>
                </h5>
            </div>
            <div class="card-body">
                <p>{{q.department}} {{q.pollster}}</p>
            </div>
        </div>
    </div>
</div>
<ng-template #emptyTpl>
    <div class="alert alert-info">未查询到{{categoryLabel}}的问卷。</div>
</ng-template>
