<ul class="nav nav-tabs mb-p10">
    <ng-container *ngIf="isCheckTime">
        <li *ngFor="let item of options" class="nav-item mr-1">
            <a class="nav-link" [routerLink]="['../', item.type]" routerLinkActive="active">{{item.label}}
                <span class="badge badge-pill badge-secondary">{{item.count}}</span>
            </a>
        </li>
    </ng-container>
    <li class=" ml-auto">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                导出Excel
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" download href="/api/hunt/reports/{{taskId}}?type=reviews">项目汇总</a>
                <a class="dropdown-item" download href="/api/hunt/reports/{{taskId}}?type=expert-reviews">专家评审汇总</a>
            </div>
        </div>
    </li>
</ul>

<hunt-table [data]="list" [cols]="additionalCols"></hunt-table>
