<ul class="nav nav-tabs mb-p10" *ngIf="isCheckTime">
    <li *ngFor="let item of options" class="nav-item mr-1">
        <a class="nav-link" [routerLink]="['../', item.type]" routerLinkActive="active">{{item.label}}
            <span class="badge badge-pill badge-secondary">{{item.count}}</span>
        </a>
    </li>
</ul>
<tm-grid [theads]="ths" [form]="list" [checkAble]="true">
    <ng-template #bodyTpl let-list="list">
        <ng-container *ngFor="let item of list; let i = index">
            <tr [ngClass]="{'table-active': e.expended}" (dblclick)="e.click()">
                <td><tm-row-expender #e (toggle)="toggle($event, item)" [enabled]="true"></tm-row-expender></td>
                <td> {{i + 1}} </td>
                <td class="expand">{{item.name}}</td>
                <td>{{item.code}}</td>
                <td>{{item.level | level : 'text'}}</td>
                <td>{{item.subtype}}</td>
                <td>{{item.departmentName}}</td>
                <td>{{item.principalName}}</td>
                <td>
                    <audit-status [status]="item.status"></audit-status>
                </td>
                <td>{{item.conclusion | conclusion : 'text'}}</td>
                <ng-container *ngIf="existExpertReview">
                    <td>{{item.countOk}}</td>
                    <td>{{item.countVeto}}</td>
                    <td>{{item.countWaiver}}</td>
                    <td>{{item.countNull}}</td>
                    <td>{{item.average}}</td>
                </ng-container>
            </tr>
            <tr *ngIf="e.expended" class="table-info">
                <td colspan="2"></td>
                <td [colSpan]="cols">
                    <section>
                        <div><label>{{item.name}}</label></div>
                        <label>学院意见</label>
                        <p>{{item.departmentOpinion}}</p>
                        <ng-container *ngIf="item.conclusionOfUniversity">
                            <label>学校结论</label>
                            <p>{{item.conclusionOfUniversity | conclusion : 'text'}}</p>
                            <label>学校意见</label>
                            <p>{{item.opinionOfUniversity}}</p>
                        </ng-container>
                        <ng-container *ngIf="item.opinionOfProvince">
                            <label>省厅意见</label>
                            <p>{{item.opinionOfProvince}}</p>
                        </ng-container>
                    </section>
                    <section *ngIf="existExpertReview">
                        <label>专家意见</label>
                        <ul class="list-unstyled mb-2">
                            <li *ngFor="let expert of item.expertReview">
                                <label class="badge badge-secondary">{{expert.name}}</label>
                                <span class="ml-2">{{expert.opinion}}</span>
                            </li>
                        </ul>
                    </section>
                </td>
            </tr>
        </ng-container>
    </ng-template>
</tm-grid>
