<ng-container *ngIf="form; else emptyTpl">
    <div class="btn-toolbar" *ngIf="!form.dateSubmitted">
        <div class="btn-group ml-auto">
            <button class='btn btn-secondary' (click)="onSave()" [disabled]="saving">保存</button>
            <button class='btn btn-primary' (click)="onSubmit() " [disabled]="saving">提交</button>
        </div>
    </div>
    <h3 class="title">{{form.questionnaire.title}}</h3>
    <tm-questionnaire-respondents [questionnaire]="form.questionnaire"></tm-questionnaire-respondents>
    <tm-multiple-line [text]="form.questionnaire.prologue"></tm-multiple-line>
    <ol class="questions" *ngIf="form.questionnaire.surveyType !== 'BALLOT_SHEET'; else ballotSheetTpl">
        <li class="question" *ngFor="let item of form.items">
            <tm-response-item-editor [responseItem]="item" [disabled]="!!form.dateSubmitted"></tm-response-item-editor>
        </li>
    </ol>
    <ng-template #ballotSheetTpl>
        <tm-ballot-response-item-editor [responseItem]="form.items[0]" [disabled]="!!form.dateSubmitted"></tm-ballot-response-item-editor>
    </ng-template>
    <tm-multiple-line [text]="form.questionnaire.epilogue"></tm-multiple-line>
    <tm-questionnaire-footer [questionnaire]="form.questionnaire"></tm-questionnaire-footer>
    <div class="btn-toolbar" *ngIf="!form.dateSubmitted" #bottomToolbar>
        <div class="btn-group ml-auto">
            <button class='btn btn-secondary' (click)="save()" [disabled]="saving">保存</button>
            <button class='btn btn-primary' (click)="submit()" [disabled]="saving">提交</button>
        </div>
    </div>
</ng-container>
<ng-template #emptyTpl>
    <p *ngIf="loading; else errorTpl">正在加载...</p>
</ng-template>
<ng-template #errorTpl>
    <div class="alert alert-warning">感谢您的参与，问卷不存在或尚未发布。</div>
</ng-template>
