<div class="question">
    <p class="content">{{question.content}} <span *ngIf="question.mandatory">*</span></p>
    <form [ngSwitch]="question.type">
        <fieldset [disabled]="disabled" *ngSwitchCase="0">
            <textarea *ngIf="question.stepValue != 1; else singleLine" class="form-control" style="resize: none"
                [name]="question.controlName"
                [rows]="question.stepValue"
                [minLength]="question.minValue"
                [maxLength]="question.maxValue"
                [(ngModel)]="responseItem.textValue"></textarea>
            <ng-template #singleLine>
                <input type="text" class="form-control"
                    [name]="question.controlName"
                    [(ngModel)]="responseItem.textValue">
            </ng-template>
            <small class="form-text text-muted">限制输入{{question.minValue}}-{{question.maxValue}}个字符。</small>
        </fieldset>
        <fieldset class="form-row" [disabled]="disabled" *ngSwitchCase="1">
            <div class="col-md-{{12 / question.stepValue}}" *ngFor="let option of question.options">
                <div class="form-check">
                    <input class="form-check-input" type="radio"
                        [id]="option.controlId"
                        [name]="option.controlName"
                        [value]="option.id"
                        [(ngModel)]="responseItem.choice"
                        (ngModelChange)="responseItem.textValue = null">
                    <label class="form-check-label" [attr.for]="option.controlId">{{option.content}}</label>
                </div>
            </div>
            <div class="col-md-12" *ngIf="question.openEnded">
                <div class="form-check">
                    <input class="form-check-input" type="radio" disabled
                        [name]="question.openControlName"
                        [checked]="!!responseItem.textValue">
                    <label class="form-check-label" [attr.for]="question.openControlId">
                        {{question.openLabel ? question.openLabel : '其他'}}
                    </label>
                    <input class="form-control" type="text" maxlength="100"
                        [id]="question.openControlId"
                        [name]="question.textValueName"
                        [(ngModel)]="responseItem.textValue"
                        (ngModelChange)="responseItem.choice = null">
                    <small class="text-muted">最多输入100个字符。</small>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-row" [disabled]="disabled" *ngSwitchCase="2">
            <div class="col-md-{{12 / question.stepValue}}" *ngFor="let option of question.options">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"
                        [id]="option.controlId"
                        [name]="option.controlName"
                        [(ngModel)]="option.selected">
                    <label class="form-check-label" [attr.for]="option.controlId">{{option.content}}</label>
                </div>
            </div>
            <div class="col-md-12" *ngIf="question.openEnded">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" disabled
                        [name]="question.openControlName"
                        [checked]="!!responseItem.textValue"
                        (change)="onOpenCheckChanged($event.checked)">
                    <label class="form-check-label" [attr.for]="question.openControlId">
                        {{question.openLabel ? question.openLabel : '其他'}}
                    </label>
                    <input class="form-control" type="text" maxlength="100"
                        [id]="question.openControlId"
                        [name]="question.textValueName"
                        [(ngModel)]="responseItem.textValue">
                    <small class="text-muted">使用分号分隔多个选项，最多输入100个字符。</small>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-check">
                    <small class="form-text text-muted">最少选择{{question.minValue}}项，最多选择{{question.maxValue}}项。</small>
                </div>
            </div>
        </fieldset>
        <fieldset [disabled]="disabled" *ngSwitchCase="3">
            <input type="range" class="form-control-range"
                [id]="question.controlId"
                [attr.list]="question.datalistId"
                [min]="question.scaleMin"
                [max]="question.scaleMax"
                [step]="question.scaleStep"
                [name]="question.controlName"
                [(ngModel)]="responseItem.intValue"
                #rangeElement>
            <datalist [id]="question.datalistId" class="d-flex">
                <option *ngFor="let v of question.scaleValues; first as f; last as l" [value]="v"
                    [style.width]="(100 / (question.scaleCount - 1) / (f || l  ? 2 : 1)) + '%'">{{v}}</option>
            </datalist>
        </fieldset>
    </form>
</div>

