.list-group {
    font-size: 0.875rem;
}

.list-group-item {
    padding: 0.375rem 0.75rem;
}

.nav {
    font-size: 0.875rem;
    .pager {
        float: right;
        padding:0.375rem 0.75rem;
    }
}

.nav-link {
    padding: 0.375rem 0.75rem;
    &.active {
        border-top: solid 2px #f9826c;
    }
}

.col-md-0 {
    display: none;
}

.empty {
    padding:0.375rem 0.75rem;
    font-size: 0.875rem;
}