<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-tabs mb-3" *ngIf="list">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['./', {ltype:'todo'}]" [class.active]="list.type=='todo'">待办</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['./', {type:'done', page: 0}]" [class.active]="list.type=='done'">已办</a>
            </li>
            <li class="pager ml-auto" *ngIf="list.type=='done'">
                <a chevron-left-icon [routerLink]="prevLink"></a>
                <a chevron-right-icon [routerLink]="nextLink"></a>
            </li>
        </ul>
        <div class="list-group" *ngIf="list && list.items.length">
            <a class="list-group-item list-group-item-action d-flex flex-column align-items-start"
               *ngFor="let task of list.items"
               [routerLink]="[task.id, {formId: task.formId}]"
               routerLinkActive="active">
                <div class="d-flex w-100 justify-content-between align-items-center">
                    {{task.subject}}
                </div>
                <div class="d-flex w-100 justify-content-between align-items-center">
                    <small>#{{task.formId}}</small>
                    <small><from-now [date]="task.createTime || task.endTime"></from-now></small>
                </div>
            </a>
        </div>
        <div class="alert alert-info empty" *ngIf="list && !list.items.length">
            暂无数据
        </div>
    </div>
    <div class="col-md-9">
        <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
</div>
