<ng-container *ngIf="form">
    <div class="btn-toolbar">
        <div class="btn-group ml-auto">
            <button class='btn btn-primary' (click)="save()">保存</button>
        </div>
    </div>
    <tm-form-title>学位申请单{{form.id}}</tm-form-title>
    <form role="form">
        <div class="row">
            <div class="col-9">
                <div class="form-group">
                    <label class="control-label">合作大学名称</label>
                    <select name="university" class="form-control" [(ngModel)]="form.universityCooperative">
                        <option value="" disabled>请选择国外大学名称</option>
                        <option *ngFor="let item of universities" [ngValue]="item.universityEn">
                            {{ item.universityCn }}
                            <span *ngIf="item.universityCn">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            {{ item.universityEn }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">主修专业</label>
                    <select name="majorCooperative" class="form-control" [(ngModel)]="form.majorCooperative">
                        <option value="">请选择修读专业名称</option>
                        <option *ngFor="let item of subjects(form.universityCooperative)" [ngValue]="item.majorEn">
                            {{ item.majorCn }} | {{ item.majorEn }} ({{item.bachelor}})
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="form-group col-9">
                            <label class="control-label">Email</label>
                            <input class="form-control" name="email" type="email" [(ngModel)]="form.email" placeholder="常用有效Email地址" />
                        </div>
                        <div class="form-group col-3">
                            <label class="control-label">获得学位年份(YYYY)</label>
                            <input class="form-control" name="bachelorYear" type="number" [(ngModel)]="form.bachelorYear"
                                placeholder="在国外获得学位的年份" />
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="control-label">联系人</label>
                            <input class="form-control" name="linkman" type="text" [(ngModel)]="form.linkman"
                                placeholder="紧急联系人姓名，如本人在国内可填自己姓名" />
                        </div>
                        <div class="form-group col-6">
                            <label class="control-label">联系电话</label>
                            <input class="form-control" name="phone" type="text" [(ngModel)]="form.phone" placeholder="紧急联系电话（国内）" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 text-center">
                <label class="control-label">证件照片</label>
                <div class="card bg-info mb-3" style="align-items: center;">
                    <img alt="照片" [src]="imgSrc(fileNames.photo)" width="auto" height="192" class="picture">
                </div>
                <div><button class="btn-xs btn-info" (click)="upload('photo')">上传照片</button></div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-center">
                <div class="card bg-light mb-3">
                    <img alt="国外本科毕业证书" [src]="imgSrc(fileNames.certi)" width="auto" height="192" class="picture" (click)="open(fileNames.certi)">
                </div>
                <div><button class="btn-xs btn-info" (click)="upload('certi')">国外本科毕业证书</button></div>
            </div>
            <div class="col-4 text-center">
                <div class="card bg-light mb-3">
                    <img alt="国外本科成绩" [src]="imgSrc(fileNames.trans1)" width="auto" height="192" class="picture"
                        (click)="open(fileNames.trans1)">
                </div>
                <div><button class="btn-xs btn-info" (click)="upload('trans1')">国外本科成绩</button></div>
            </div>
            <div class="col-4 text-center">
                <div class="card bg-light mb-3">
                    <img alt="成绩2" [src]="imgSrc(fileNames.trans3)" width="auto" height="192" class="picture" (click)="open(fileNames.trans3)">
                </div>
                <div><button class="btn-xs btn-info" (click)="upload('trans3')">成绩2</button></div>
            </div>
        </div>
    </form>
</ng-container>
