.label {
    color: white;
    border: 1px solid transparent;
    border-radius: 2em;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    padding: 0 7px;
}
.blue {
    background-color: #0d6efd;
}
.indigo {
    background-color: #6610f2;
}
.purple {
    background-color: #6f42c1;
}
.pink {
    background-color: #d63384;
}
.red {
    background-color: #dc3545;
}
.orange {
    background-color: #fd7e14;
}
.yellow {
    background-color: #ffc107;
}
.green {
    background-color: #198754;
}
.teal {
    background-color: #20c997;
}
.cyan {
    background-color: #0dcaf0;
}
.gray {
    background-color: #adb5bd;
}
.blue-300 {
    background-color: #6ea8fe;
}
.indigo-300 {
    background-color: #a370f7;
}
.purple-300 {
    background-color: #a98eda;
}
.pink-300 {
    background-color: #e685b5;
}
.red-300 {
    background-color: #e35d6a;
}
.orange-300 {
    background-color: #feb272;
}
.yellow-300 {
    background-color: #ffda6a;
}
.green-300 {
    background-color: #75b798;
}
.teal-300 {
    background-color: #79dfc1;
}
.cyan-300 {
    background-color: #6edff6;
}
.gray-300 {
    background-color: #f8f9fa;
}
