<ng-container *ngIf="form">
    <div class="btn-toolbar">
        <div class="btn-group ml-auto">
            <button class='btn btn-primary' (click)="save()">保存</button>
        </div>
    </div>
    <tm-form-title>中外合作协议{{form.id}}</tm-form-title>
    <form role="form">
        <div class="row">
            <div class="form-group col-md-9">
                <label class="control-label">协议名称</label>
                <input class="form-control" name="agreementName" type="text" [(ngModel)]="form.agreementName"
                    placeholder="协议名称" />
            </div>
            <div class="form-group col-md-3" *ngIf="form.university">
                <label class="control-label">项目类别</label>
                <p class="ml-2">{{form.university.region}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-9">
                <label class="control-label">外国大学</label>
                <tm-university-select [universities]="universities" (selectUniversity)="onUniversitySelected($event)"></tm-university-select>
                <p class="ml-2" *ngIf="form.university">{{form.university.nameCn}}</p>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">备注</label>
                <textarea class="form-control" name="memo" rows="2" [(ngModel)]="form.memo" placeholder="备注"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="control-label">适用专业、起止年级以及衔接专业</label>
                <span class="ml-2">
                    <button class='btn btn-success btn-sm' (click)="addItem()" [disabled]="!form.university">添加</button>
                </span>
                <ul>
                    <li *ngFor="let item of form.items">
                        {{item.subjectName}} 适用起止年级：{{item.startedGrade}} —— {{item.endedGrade}}
                        <span class="ml-2">
                            <button class='btn btn-warning btn-sm' (click)="editItem(item)">编辑</button>
                        </span>
                        <ul>
                            <li *ngFor="let major of item.coMajors">
                                {{major.nameEn}}：{{major.nameCn}} {{major.bachelor}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</ng-container>
