<ng-container *ngIf="vm">
    <div class="btn-toolbar">
        <div class="ml-auto">
            <button class="btn btn-secondary" routerLink="../">返回</button>
            <ng-container *ngIf="vm.status === 'CREATED'">
                <button class="btn btn-secondary" (click)="finish()">完成</button>
                <button class="btn btn-secondary" (click)="cancel()">取消</button>
                <button class="btn btn-secondary" (click)="doing()">施工中</button>
            </ng-container>
        </div>
    </div>
    <tm-form-title>变更计划{{vm.id}}</tm-form-title>
    <div class="row">
        <div class="form-group col-3">
            <label class="control-label">计划名称</label>
            <p class="form-control-plaintext"> {{vm.name}}</p>
        </div>
        <div class="form-group col-3">
            <label class="control-label">创建时间</label>
            <p class="form-control-plaintext"> {{vm.dateCreated | date: 'y-MM-dd'}}</p>
        </div>
        <div class="form-group col-3">
            <label class="control-label">计划类型</label>
            <p class="form-control-plaintext"> {{vm.action | planAction}}</p>
        </div>
        <div class="form-group col-3">
            <label class="control-label">受影响场地</label>
            <p class="form-control-plaintext"> {{vm.roomRelative}}</p>
        </div>
        <div class="form-group col-3">
            <label class="control-label">实施学期</label>
            <p class="form-control-plaintext"> {{vm.termId | term}}</p>
        </div>
        <div class="form-group col-3" *ngIf="vm.dateProcessed">
            <label class="control-label">处理时间</label>
            <p class="form-control-plaintext"> {{vm.dateProcessed | date: 'y-MM-dd'}}</p>
        </div>
        <div class="form-group col-3">
            <label class="control-label">计划状态</label>
            <p class="form-control-plaintext"> {{vm.status | planStatus}}</p>
        </div>
    </div>
    <h5>计划改造后场地</h5>
        <table class="table table-hover">
            <th>房号</th>
            <th>面积</th>
            <th>座位数</th>
            <th>计划执行后状态</th>
            <th>使用单位</th>
            <th>场地类别</th>
            <th>标签</th>
            <tbody>
                <tr *ngFor="let room of vm.rooms">
                    <td>{{room.name}}</td>
                    <td>{{room.measure}}</td>
                    <td>{{room.seat}}</td>
                    <td>{{room.status | status}}</td>
                    <td>{{room.department}}</td>
                    <td>{{room.placeType}}</td>
                    <td>{{toLabelStrings(room.labels)}}</td>
                </tr>
            </tbody>
        </table>
</ng-container>