<div class="btn-toolbar">
    <div class="btn-group">
        <div style="width:250px">
            <select name="term" class="form-control" [(ngModel)]="termId">
                <option *ngFor="let item of terms" [ngValue]="item">
                    {{ item | termLabel}}
                </option>
            </select>
        </div>
        <div class="ml-3">
            <select name="types" class="form-control" [(ngModel)]="type">
                <option *ngFor="let item of types" [ngValue]="item">
                    {{ item | typeLabel}}
                </option>
            </select>
        </div>

        <div class="ml-3 mr-3" style="width:300px">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" id="dropdownMenu2"
                        aria-haspopup="true" aria-expanded="false">
                        {{filterSelected.name}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button" *ngFor="let filterItem of listFilter" (click)="onFilterSelected(filterItem)">{{filterItem.name}}</button>
                    </div>
                </div>
                <input class="form-control" name="filterValue" type="text" [(ngModel)]="filterSelected.value" />
                <div class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="doFilter()">
                        <fa-icon icon="search"></fa-icon>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <ng-container *ngIf="list && list.length>0">
        <table class="table table-expand">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>教师</th>
                    <th>课程信息</th>
                    <th>开课单位</th>
                    <th>听课时间</th>
                    <th class="text-center">评价等级</th>
                    <th>督导老师</th>
                    <th class="text-center">状态</th>
                </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-item [ngForOf]="list" let-i="index">
                    <tr>
                        <td><a [routerLink]="[item.id]">#{{item.id}}</a></td>
                        <td><span *ngIf="item.teachercode">{{item.teachercode}} </span>{{item.teachername}}</td>
                        <td class="expand">{{item.coursename}} <br>{{item.courseproperty}} {{item.classpostion}}</td>
                        <td>{{item.collegename}} </td>
                        <td>{{item.listentime}}</td>
                        <td class="text-center">{{item.evaluategrade}}</td>
                        <td>{{item.inpectorcode}} {{item.inpectorname}}<br>{{item.observerType | typeLabel}}</td>
                        <td class="text-center">{{stateText(item.state)}}</td>
                    </tr>
                </ng-template>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">
                        <div class="form-group row mt-1">
                            <div class="col-md-2">总共：{{count}}条记录</div>
                            <div class="col-md-2">
                                <tm-pager [total]="count" [max]="max" [length]="listLength" (prev)="loadData($event)"
                                    (next)="loadData($event)"></tm-pager>
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </ng-container>
