<div class="btn-toolbar">
    <div>
        <label>标签</label>
        <select name="label" class="form-control" [(ngModel)]="queryOptions.labelId">
            <option value="">请选择</option>
            <option *ngFor="let item of labels [ngValue]="item.id">
                {{item.labelName}} </option>
        </select>
    </div>
    <div class="ml-auto">
        <button class="btn btn-secondary" routerLink="../">返回</button>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <div class="form-group">
            <label>学期</label>
            <select name="level1" class="form-control" [(ngModel)]="queryOptions.termId">
                <option [value]="undefined" disabled>请选择</option>
                <option *ngFor="let item of terms" [ngValue]="item">{{termText(item)}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>教学楼</label>
            <ng-select name="building"
                [items]="buildings"
                [multiple]="true"
                [closeOnSelect]="false"
                [hideSelected]="true"
                bindLabel="name"
                placeholder="选择教学楼"
                [(ngModel)]="buildingSelected">
            </ng-select>
        </div>
        <div class="form-group">
            <label>面积</label>
            <div class="input-group">
                <input type="number" class="form-control" aria-label="小" aria-describedby="addon1" [(ngModel)]="queryOptions.measureL">
                <div class="input-group-append">
                  <span class="input-group-text" id="addon1"> ~ </span>
                </div>
                <input type="number" class="form-control" aria-label="大" aria-describedby="addon1" [(ngModel)]="queryOptions.measureH">
              </div>
        </div>
        <div class="form-group">
            <label>座位数</label>
            <div class="input-group">
                <input type="number" class="form-control" aria-label="小" aria-describedby="addon2" [(ngModel)]="queryOptions.seatL">
                <div class="input-group-append">
                  <span class="input-group-text" id="addon2"> ~ </span>
                </div>
                <input type="number" class="form-control" aria-label="大" aria-describedby="addon12" [(ngModel)]="queryOptions.seatH">
              </div>
        </div>
        <div class="form-group">
            <label>业务类型</label>
            <select name="business" class="form-control" [(ngModel)]="queryOptions.business">
                <option value="">请选择</option>
                <option *ngFor="let item of business" [ngValue]="item"> {{item}} </option>
            </select>
        </div>
        <div class="form-group">
            <label>标签类别</label>
            <select name="labelType" class="form-control" [(ngModel)]="queryOptions.typeId">
                <option value="">请选择</option>
                <option *ngFor="let item of labelTypes" [ngValue]="item.id"> {{item.name}} </option>
            </select>
        </div>
        <div class="form-group">
            <label>标签</label>
            <select name="label" class="form-control" [(ngModel)]="queryOptions.labelId">
                <option value="">请选择</option>
                <option *ngFor="let item of labels |filterBy: filterByType(queryOptions.typeId, queryOptions.business)" [ngValue]="item.id">
                    {{item.labelName}} </option>
            </select>
        </div>
        <button class="btn btn-secondary" (click)="query()">查询</button>
    </div>
    <div class="col-10">
        <tm-asset-place-table [data]="rooms" [detailShow]="true"></tm-asset-place-table>
    </div>
</div>
