<div class="btn-toolbar">
    <div class="input-group col-5">
        <input type="text" name="query" class="form-control" [(ngModel)]="q" placeholder="关键字搜索" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="find()">搜索</button>
        </div>
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    导出Excel
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" download href="/api/hunt/reports?type=projects-groupby-department">分学院</a>
                    <a class="dropdown-item" download href="/api/hunt/reports?type=projects-groupby--type">分类别</a>
                </div>
            </div>
        </div>
        <button class="btn btn-secondary ml-2" (click)="query()">查询</button>
        <button class="btn btn-secondary ml-2" routerLink="create" *ngIf="createAble">新建</button>
    </div>
</div>
<tm-grid [theads]="ths" [form]="list">
    <ng-template #bodyTpl let-list="list">
        <ng-container *ngFor="let item of list; let i = index">
            <tr>
                <td><a [routerLink]="[item.id]">{{i + 1}}#{{item.id}}</a></td>
                <td class="expand">{{item.name}}</td>
                <td>{{item.code}}</td>
                <td>{{item.level | level : 'text'}}</td>
                <td class="expand">{{item.subtype}}</td>
                <td>{{item.principalName}}</td>
                <td>{{item.dateStart | date: 'yyyy-MM'}}</td>
                <td>{{item.middleYear}}</td>
                <td>{{item.knotYear}}</td>
                <td>{{item.hasMid > 0 ? '是' : '否'}}</td>
                <td><span *ngIf="item.delayTimes">{{item.delayTimes}}次</span></td>
                <td><span
                        class="badge badge-pill {{item.status | projectStatus: 'class'}}">{{item.status | projectStatus: 'text'}}</span>
                </td>
            </tr>
        </ng-container>
    </ng-template>
</tm-grid>