<div class="btn-toolbar">
    <div class="input-group" style="width: 40%;">
        <input type="text" name="query" class="form-control" [(ngModel)]="q" placeholder="关键字搜索" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="find()">搜索</button>
        </div>
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    导出Excel
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" download href="/api/hunt/reports?type=projects">总表</a>
                    <a class="dropdown-item" download href="/api/hunt/reports?type=projects-groupby-department">分学院</a>
                    <a class="dropdown-item" download href="/api/hunt/reports?type=projects-groupby--type">分类别</a>
                </div>
            </div>
        </div>
        <button class="btn btn-secondary ml-2" (click)="query()">查询</button>
        <button class="btn btn-secondary ml-2" routerLink="create" *ngIf="createAble">新建</button>
    </div>
</div>
<div class="form-group">
    <ng-container *ngFor="let item of fund">
        <span class="mr-5">{{item.type | fundType: 'text'}}：<span class="badge {{item.type | fundType: 'class'}}">{{item.total}}万</span></span>
    </ng-container>
</div>

<hunt-table [data]="list"></hunt-table>
