:host {
    display: block;
}

p {
    text-indent: 2em
}

:host-context(.form-control-plaintext) {
    p {
        text-indent: initial;
        margin-bottom: 0.5em;
    }
    p:last-child {
        margin-bottom: 0;
    }
}

:host-context(.card-text) {
    p {
        margin-bottom: 0.5em;
    }
    p:last-child {
        margin-bottom: 0;
    }
}
