
<ul class="nav nav-tabs d-print-none">
    <li *ngFor="let item of group.items" class="nav-item mr-1">
        <a class="nav-link" [routerLink]="[item.type]" routerLinkActive="active">
            {{item.label}}
            <span class="badge badge-secondary">{{item.count}}</span>
        </a>
    </li>
    <li class="nav-item navbar-text ml-auto" *ngIf="notice">{{notice}}</li>
    <li class="nav-item ml-auto" *ngIf="queryable">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="查找" [(ngModel)]="queryString">
            <div class="input-group-append">
                <button class="btn btn-secondary" (click)="search()" search-icon></button>
            </div>
        </div>
    </li>
</ul>
<router-outlet></router-outlet>
