<modal-dialog modalTitle="单位意见">
    <modal-body>
        <ng-container *ngIf="options.whoUrl; else suggestTpl">
            <form *ngIf="options.data">
                <ng-container [ngSwitch]="options.data.length">
                    <p *ngSwitchCase="0">未设置{{options.does}}人，请与管理员联系。</p>
                    <p *ngSwitchCase="1">《{{options.what}}》将发送至 <b>{{options.data[0].name}}</b> 进行{{options.does}}。</p>
                    <p *ngSwitchDefault>
                        提交《{{options.what}}》 进行{{options.does}}。<br>
                        请选择{{options.does}}人：
                        <select name="selected" [(ngModel)]="result.to">
                            <option *ngFor="let person of options.data" value="{{person.id}}">{{person.name}}</option>
                        </select>
                    </p>
                </ng-container>
                <div class="form-group" *ngIf="options.suggests">
                    <p>
                        请选择单位{{options.does}}意见：
                        <select name="selected" [(ngModel)]="result.suggest">
                            <option *ngFor="let suggest of options.suggests" value="{{suggest.id}}">{{suggest.name}}</option>
                        </select>
                    </p>
                </div>
                <div class="form-group" *ngIf="options.data.length >= 1">
                    <textarea class="form-control" rows="6" placeholder="处理意见" name="comment" [(ngModel)]="result.comment"></textarea>
                </div>
            </form>
        </ng-container>
        <ng-template #suggestTpl>
            <form>
                <p>《{{options.what}}》通过{{options.does}}。</p>
                <div class="form-group">
                    <textarea class="form-control" rows="6" placeholder="处理意见" name="comment" [(ngModel)]="result.comment"></textarea>
                </div>
            </form>
        </ng-template>
    </modal-body>
    <modal-footer>
        <button modalCancel>取消</button>
        <button modalOk (click)="ok()" [disabled]="(options.whoUrl && options.data?.length == 0) || result.suggest == null || result.comment == null ">确定</button>
    </modal-footer>
</modal-dialog>
