<div>
    <ngx-datatable
      class="material"
      style="height: 650px;"
      [rows]="rows"
      columnMode="force"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="50"
      [scrollbarV]="true"
      [scrollbarH]="true"
      [columns]="columns"
      [selected]="selected"
      [selectionType]="SelectionType.checkbox"
      (select)="onSelect($event)"
      [selectAllRowsOnPage]="false"
    >
    <!-- <ng-template #hdrTmpl let-column="column">
        <div class="d-inline-block">
            <span data-toggle="dropdown" >{{column.name}} <span chevron-down-icon></span></span>
        <div class="dropdown-menu">
                <a class="dropdown-item">Action 1</a>
                <a class="dropdown-item">Action 2</a>
        </div>
        </div>

    </ng-template> -->
    <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template let-rowCount="rowCount">
            <div style="padding: 5px 10px">
                <div>共 {{rowCount}} 个项目</div>
            </div>
        </ng-template>
    </ngx-datatable-footer>
    </ngx-datatable>
</div>

<ng-template #idTmpl let-rowIndex="rowIndex" let-value="value">
    <a href="{{link(value)}}">{{rowIndex + 1}} #{{value}}</a>
</ng-template>
<ng-template #levelTmpl let-row="row" let-value="value">
    {{levelGetter(value)}}
</ng-template>
<ng-template #statusTmpl let-row="row" let-value="value">
    {{statusGetter(value)}}
</ng-template>
