<ng-container *ngIf="vm">
    <div class="btn-toolbar">
        <div>
            <button class="btn btn-primary ml-auto" routerLink="applications">申请单汇总</button>
        </div>
        <div class="ml-auto">
            <button class="btn btn-secondary" routerLink="../">返回</button>
            <button class="btn btn-secondary ml-2" routerLink="edit">编辑</button>
        </div>
        <div class="ml-2" *ngIf="vm.toggleShow">
            <button [class]="color('applicationOn')" (click)="toggle('applicationOn')">申请开关</button>
            <button [class]="color('paperOn')" (click)="toggle('paperOn')">论文开关</button>
        </div>
    </div>
    <tm-award-form-viewer [vm]="vm"></tm-award-form-viewer>
</ng-container>
