<modal-dialog modalTitle="验收填报" size="lg">
    <modal-body>
        <form role="form" class="row">
            <div class="col-6" >
                <div class="form-group">
                    <label class="control-label">电话</label>
                    <input class="form-control" name="phone" type="text" [(ngModel)]="form.phone" placeholder="常用手机" />
                </div>
                <div class="form-group" *ngIf="form.reportType === 4">
                    <label class="control-label">参与人</label>
                    <div class="row">
                        <div class="col-4" *ngFor="let item of form.memberList; let i = index">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{{i+1}}:</span>
                                </div>
                                <input class="form-control" type="text" name="member{{i}}" [(ngModel)]="item.value">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">{{contentLabel}} <span class="text-info" *ngIf="form.content">字数（含空格）{{form.content.length}}</span></label>
                    <textarea class="form-control" name="content" rows="6" [(ngModel)]="form.content" placeholder="请简要说明该项目的{{contentLabel}}。字数不超600。"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label">{{furtherLabel}} <span class="text-info" *ngIf="form.achievements">字数（含空格）{{form.achievements.length}}</span></label>
                    <textarea class="form-control" name="further" rows="4" [(ngModel)]="form.achievements" placeholder="{{furtherLabel}}。字数不超600。"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label">{{otherLabel}} <span class="text-info" *ngIf="form.other">字数（含空格）{{form.other.length}}</span></label>
                    <textarea class="form-control" name="other" rows="4" [(ngModel)]="form.other" placeholder="{{otherLabel}}。字数不超600。"></textarea>
                </div>
            </div>
            <div class="card col-6">
                <div class="card-body">
                    <ng-container *ngFor="let item of form.fileTypes;">
                        <tm-uploader-panel [uploadUrl]="uploadUrl" [fileType]="item" [options]="uploadOptions(item)"></tm-uploader-panel>
                    </ng-container>
                </div>
            </div>
        </form>
    </modal-body>
    <modal-footer>
        <button modalCancel>取消</button>
        <button type="button" class="btn btn-secondary" (click)="ok()">保存</button>
    </modal-footer>
</modal-dialog>
