<label class="btn-link" (click)="setFundType('ARRANGEMENT')">
    <input type="file" class="d-none" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)"
        [uploadInput]="uploadInput">计划安排
</label>
<label class="btn-link ml-3" (click)="setFundType('TRANSFER')">
    <input type="file" class="d-none" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)"
        [uploadInput]="uploadInput">已划拨
</label>
<a class="btn-link ml-3" download href="/api/hunt/reports?type=fund-template">模版下载</a>
<table class="table table-bordered table-sm" style="text-align:center;">
    <thead>
        <tr>
            <th rowspan="2">序号</th>
            <th rowspan="2">项目编号</th>
            <th colspan="3">省（市）</th>
            <th colspan="3">学校</th>
            <th colspan="3">学院</th>
        </tr>
        <tr>
            <th>立项</th>
            <th>中期</th>
            <th>结项</th>
            <th>立项</th>
            <th>中期</th>
            <th>结项</th>
            <th>立项</th>
            <th>中期</th>
            <th>结项</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-fund [ngForOf]="funds">
            <tr>
                <td *ngFor="let item of fund">{{item}}</td>
            </tr>
        </ng-template>
    </tbody>
</table>
