<div class="btn-toolbar">
    <div>
        <select class="form-control" [(ngModel)]="monthCreated">
            <option disabled selected hidden [ngValue]="null">选择导入月份</option>
            <option *ngFor="let month of monthes" value="{{month}}">{{month}}</option>
        </select>
    </div>
    <div>
        <select class="form-control" [(ngModel)]="fundType">
            <option value="ARRANGEMENT" selected>计划安排</option>
            <option  value="TRANSFER">划拨经费</option>
        </select>
    </div>
    <button class="btn btn-secondary ml-2" (click)="search()">查看</button>
    <ng-container *ngIf="reviewAble">
        <button class="btn btn-primary ml-3" (click)="ok()">提交</button>
        <button class="btn btn-secondary" (click)="cancel()">取消</button>
    </ng-container>
    <div class="ml-auto">
        <a class="btn btn-secondary ml-2" download href="/api/hunt/reports?type=fund-template">模版下载</a>
        <button class="btn btn-secondary ml-2" (click)="importFund()">批量导入</button>
        <a class="btn btn-secondary ml-2" href="/api/bi/reports">查看报表</a>
    </div>
</div>
<table class="table table-bordered table-sm" style="text-align:center;">
    <thead>
        <tr>
            <th rowspan="2">序号</th>
            <th rowspan="2">项目编号</th>
            <th colspan="3">省（市）</th>
            <th colspan="3">学校</th>
            <th colspan="3">学院</th>
        </tr>
        <tr>
            <th>立项</th>
            <th>中期</th>
            <th>结项</th>
            <th>立项</th>
            <th>中期</th>
            <th>结项</th>
            <th>立项</th>
            <th>中期</th>
            <th>结项</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-fund [ngForOf]="funds">
            <tr>
                <td *ngFor="let item of fund">{{item}}</td>
            </tr>
        </ng-template>
    </tbody>
</table>