<table class="table">
    <thead>
        <tr>
            <th>序号</th>
            <th>项目名称</th>
            <th>等级</th>
            <th>项目类型</th>
            <th>项目来源</th>
            <th>申请日期</th>
            <th>审核进度</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-item [ngForOf]="list" let-i="index">
            <tr>
                <td>{{i + 1}}</td>
                <td><a [routerLink]="['../',item.id]">{{item.name}}</a></td>
                <td>{{item.level | level: 'text'}}</td>
                <td>{{item.subtype}}</td>
                <td>{{item.origin}}</td>
                <td>{{item.dateSubmitted | date: 'yyyy-MM-dd'}}</td>
                <td><audit-status [status]="item.status"></audit-status></td>
            </tr>
        </ng-template>
    </tbody>
</table>
