.card {
    h5 {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0px;
    }
}

.card-header {
    .btn-group {
        margin-top: -5px;
        margin-bottom: -5px;
    }
}

.pictures {
    height: initial;
    padding: .75rem;
}

.misconduct {
    margin-bottom: 1rem;
}
