<div class="row">
    <div class="form-group col-md-2">
        <div class="list-group mb-3">
            <a [routerLink]="[0, 'todo']" class="list-group-item list-group-item-action justify-content-between"
                routerLinkActive="active">
                立项评审
            </a>
            <a [routerLink]="[1, 'todo']" class="list-group-item list-group-item-action justify-content-between"
                routerLinkActive="active">
                检查评审
            </a>
            <a [routerLink]="[2, 'todo']" class="list-group-item list-group-item-action justify-content-between"
                routerLinkActive="active">
                结题评审
            </a>
        </div>
    </div>
    <div class="form-group col-md-10">
        <router-outlet></router-outlet>
    </div>
</div>
